[submodule "vendor/rinari"]
	path = vendor/rinari
	url = git://github.com/technomancy/rinari.git
[submodule "vendor/rhtml"]
	path = vendor/rhtml
	url = git://github.com/eschulte/rhtml.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = git://gitorious.org/magit/mainline.git
