[submodule "vendor/rinari"]
	path = vendor/rinari
	url = git://github.com/technomancy/rinari.git
[submodule "vendor/rhtml"]
	path = vendor/rhtml
	url = git://github.com/eschulte/rhtml.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = git://gitorious.org/magit/mainline.git
[submodule "vendor/markdown"]
	path = vendor/markdown
	url = git://jblevins.org/git/markdown-mode.git
[submodule "vendor/textmate"]
	path = vendor/textmate
	url = ./vendor/textmate
[submodule "vendor/picovhdl-mode"]
	path = vendor/picovhdl-mode
	url = git@github.com:ramblex/picovhdl-mode.git
[submodule "snippets"]
	path = snippets
	url = git@github.com:ramblex/emacs-snippets.git
